.container {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 

.stuff_item_grid {
    /* background-color: #A98467; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    padding: 1rem;
    text-align: center;
    cursor: pointer;
}

.stuff_item_container {
    margin-bottom: 2rem;
    background-color: #ADC178;
}

.stuff_item_name {
    margin: .5rem 0;
    padding: .15rem 0 .35rem 0;
}